@import 'variables'
@import 'animation'


body
  background-color backgroundcolor

#facebook
  max-height 100%

.content
  animation fadein 1.5s

.fixed-height
  height 200px !important

.navbar-center
  position absolute
  left 50%
  transform translate(-50%)