@import 'variables'
@import 'animation'


body
  background-color backgroundcolor

#facebook
  max-height 100%

.content
  animation fadein 1.5s

.fadein
  animation fadein 2s

.fadeinout
  animation-fill-mode forwards
  -webkit-animation-fill-mode forwards
  animation fadeinout 4s

.fixed-height
  height 250px !important

.navbar-center
  position absolute
  left 50%
  transform translate(-50%)

.example-appear 
  opacity 0.01


.example-appear.example-appear-active 
  opacity 1
  transition: opacity .5s ease-in

