@import 'variables'
@import 'animation'

html
  min-height 100%
  position relative
body
  background-image url('../images/forest.jpg')
  background-repeat no-repeat
  background-size 100%
  background-attachment fixed
  background-color rgba(0,0,0,0.4)
  margin-bottom 50px
  height 100%

#facebook
  max-height 100%

.content
  animation fadein 1.5s
  background-color backgroundcolor
  padding 10px


#modal
  height auto !important
  width 100%

.modal-dialog
  width 90% !important 

.fadein
  animation fadein 2s

.fadeinout
  animation-fill-mode forwards
  -webkit-animation-fill-mode forwards
  animation fadeinout 4s

.fixed-height
  height 250px !important

.navbar-center
  position absolute
  margin-right -50%
  left 50%
  transform translate(-50%,0)
  -ms-transform translate(-50%,0)
  -webkit-transform translate(-50%,0) 

.example-appear
  opacity 0.01

.example-appear.example-appear-active
  opacity 1
  transition: opacity .5s ease-in


.img-span
  margin 0 10px 10px 0


.modal-img
  max-height 50%

.img-havainto
  max-height 100px

.wizard-content
  margin-top 20px
  margin-bottom 20px

.darkened
  z-index 1000
  opacity 0.3 !important

#kadonneet-search-map
  width 100% 

.grayable
  opacity 0.2

.search-modal
  width 95%

.search-results
  bottom 0
  left 15px
  position absolute

.opened
  //left 50%
  //top 50%
  //transform translate(-50%, -50%)
  position absolute  
  z-index 9999
  width: 50%
  height: 50%
  overflow: auto
  margin: auto
  top 0
  left 0
  bottom 0 
  right 0

#footer
  position fixed
  bottom 0
  background-color #f5f5f5


#map-havainnot
  width 100%

#kadonneet-form-map
  height 400px;