extends ./layout.jade
block content

  .row
    .col-md-12
      nav.navbar.navbar-default.navbar-static-top
        .row
          .col-md-6.col-md-offset-3
            .container.center-block
              .navbar-header
                ul.nav.navbar-nav.pull-right
                  li.active
                    a(href="/kadonneet") Kadonneet
                  li
                    a(href="/some") Some
  .row
    .col-md-6.col-md-offset-3
      .content
        .page-header
            h1 Welcome to search missing people
            p!= description
   