extends ./layout.jade
block content
  .row
    .col-md-6.col-md-offset-3
      .content
        .page-header
            h1 Welcome to search missing people
        p!= description
        blockquote.blockquote-reverse
          p #{quotetext}
          footer #{quoteauthor}