extends ./layout.jade
block content
  .row
    .col-md-6.col-md-offset-3
      .content.center-block.text-center
        .page-header
          h1 Oletko nähnyt heitä?
        #losts!= losts
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByzQDlFO3HK8MQmkCMpZ9Wzg-hyECUKNI")
  script.
    var items = !{JSON.stringify(items)}

