doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/tfind.css')

    title tFind - Search missing people
  body
    block content