extends ./layout.jade
block content
  .row
    .col-md-6.col-md-offset-3
      .content.center-block
        .page-header
          h1 Ilmoita kadonneeksi
        p.lead Onko joku sukulainen tai tuttusi lähipiiristäsi kadonnut? Tällä sivulla voit ilmoittaa henkilön kadonneeksi ja tarvittaessa julkaista tapaus Sosiaalisessa mediassa.
        p.lead Täytä allaoleva lomake huolellisesti.
        #kadonnutform!= kadonnutform


