.row
    .col-md-12.col-sm-12.hidden-xs
      nav.navbar.navbar-default.navbar-static-top
        .row
          .col-md-6.col-xs-12.col-sm-12.col-md-offset-3.end.navbar-inner
            .navbar-header
              a.navbar-brand(href="/") tFind
            ul.nav.navbar-nav.navbar-center
              li
                  a(href="/kadonneet") Kadonneet
              li
                  a(href="/some") Linkkejä
          
            ul.nav.navbar-nav.navbar-right
                li(role="presentation")
